.menu {
    list-style-type: none;
    padding: 0;
    position: fixed;
    right: 0;
    margin-right: 5%;
    z-index: 1000;
    background-color: #d3d3d3;

    /*Makes sure it is out of the screen when loading js*/
    top:100%;
}

.menu-item a{
    display: block;
    padding: 12px;
    font-size: 14px;
    color: #1f6767 ;

}

a, a:active{
    text-decoration: none !important;
}

a:hover{
    background-color: #c9c9c9   ;
}

.pill-selected{
    background-color: #1f6767 !important;
}

.pill-selected > a {
    color: #e6e6e6;
}



.top-margin {
    top: 8.8%;
}