.menu {
    list-style-type: none;
    padding: 0;
    position: fixed;
    right: 0;
    margin-right: 5%;
    z-index: 1000;
    background-color: #d3d3d3;

    /*Makes sure it is out of the screen when loading js*/
    top:100%;
}

.menu-item a{
    display: block;
    padding: 12px;
    font-size: 14px;
}

.menu-item .active {
    background-color: #c9302c;
}



/*TODO change color*/
.menu-item, .menu-item :visited, .menu-item:link, .menu-item:hover {
    color: #c91c3f;
}


li .active {
    background-color: #1ad300 !important;
}

.top-margin {
    top: 8.8%;
}